@font-face {
    font-family: 'logo';
    src: url(../../../assets/fonts/logo.woff);
}

@font-face {
    font-family: 'titulo';
    src: url(../../../assets/fonts/titulo.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    /* background-image: radial-gradient(#12254D, #000) !important;   */
    /* background-color: #000; */
    background-color: #fff;
    font-family: 'titulo', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth !important;
    cursor: default;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

#tela-carregamento-site {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;

    & #tela-carregamento-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    & #tela-carregamento-logo {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 125px;
        border-radius: 25px;
    }
    
    & #shadow-div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 40%;
        box-shadow: 
        0px 0px 0px 1000px #000,
        inset 0px 0px 200px 50px #000,
        inset 0px 0px 200px 50px #000,
        inset 0px 0px 200px 50px #000;
    }

    & #div-logo {
        position: relative;
        width: 150px;
        height: 150px;
        font-family: 'logo', sans-serif;
        animation: anima-logo 2s linear infinite;

        & img {
            width: 100%;
            height: 100%;
            animation: anima-freddy-logo 2s linear infinite;
        }

        & #p-fnaf-logo {
            position: absolute;
            top: 30%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            color: #60ffaf;
            font-size: 30px;
            animation: anima-fnaf-logo 2s linear infinite;
        }

        & #p-3d-logo {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            color: #ebee2a;
            font-size: 50px;
            animation: anima-3d-logo 2s linear infinite;
        }
    }
}


progress {
    margin-top: 20px;
    height: 10px;
    border: 2px solid #ddd;
    background-color: #000;
    border-radius: 1000px;
    overflow: hidden;
    z-index: 1;
}

progress::-webkit-progress-bar {
    background-color: #000;
    border-radius: 1000px;
}

progress::-webkit-progress-value {
    background-color: #ddd;
    border-radius: 1000px 0 0 1000px;
}

@keyframes anima-logo {

    0%,
    100% {
        opacity: 0.5;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.025);
    }
}

@keyframes anima-freddy-logo {

    0%,
    100% {
        filter: invert(1) drop-shadow(0px 0px 0px #0000);
    }

    50% {
        filter: invert(1) drop-shadow(0px 0px 5px #fff);
    }
}

@keyframes anima-fnaf-logo {

    0%,
    100% {
        text-shadow: none;
    }

    50% {
        text-shadow:
            0px 0px 5px #4db380,
            0px 0px 7.5px #4db380,
            0px 0px 10px #46a174,
            0px 0px 12.5px #41996d,
            0px 0px 15px #37815c;
    }
}

@keyframes anima-3d-logo {

    0%,
    100% {
        text-shadow: none;
    }

    50% {
        text-shadow:
            0px 0px 5px #ced124,
            0px 0px 7.5px #b8bb20,
            0px 0px 10px #b3b61e,
            0px 0px 12.5px #a3a51d,
            0px 0px 15px #7f8116;
    }
}

