@charset "UTF-8";

@font-face {
    font-family: 'logo';
    src: url(../assets/fonts/logo.woff);
}

@font-face {
    font-family: 'titulo';
    src: url(../assets/fonts/titulo.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    /* background-image: radial-gradient(#12254D, #000) !important;   */
    background-color: #000;
    font-family: 'titulo', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth !important;
    cursor: default;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

#cursor-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #fff8;
    cursor: pointer;
}

:root {
    --cor-interna: #333333aa;
    --cor-externa: #000000aa;
}

#alerta-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%) scale(0.75);
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 100px;
    opacity: 0;
    transition-duration: .5s;
    z-index: 99999999;

    & img {
        width: 25px;
    }
}

#tela-cheia {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #000;
    cursor: pointer;
    z-index: 9000 !important;


    & span {
        color: #fff;
        font-size: 75px;
    }

    & p {
        font-size: 18px;
        color: #fff;
        text-align: center;
    }
}

#tela-vira-landscape,
#tela-vira-portrait {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 9500 !important;
    display: none;

    & span {
        font-size: 75px;
        color: #fff;
    }

    & p {
        color: #fff;
        text-align: center;
    }
}

#tela-vira-portrait span {
    transform: rotate(90deg) rotateX(180deg);
}

#fechar-aba-cel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;
}

#aviso {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-image: url(../assets/images/aviso.avif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 1000;
    transition: opacity 2.5s;

}

.continuar-btn {
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #C0C0C0;
    transition-duration: .5s;
    z-index: 2100;
}

#tela-inicial {
    width: 100vw;
    height: 100vh;
    display: none;
    cursor: default;

    & video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    & #tela-inicial-video {
        display: none;
    }

    & #div-logo-btn {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 100%;
        z-index: 1;
        transition-duration: .5s;
        opacity: 0;
        display: none;

        & img {
            width: 400px;
        }

        #iniciar-btn,
        #resetar-config {
            font-size: 40px;
            color: #fff;
            cursor: pointer;
            transition-duration: .5s;
            padding: 10px 0;
            text-align: center;

            &.efeito-hover:hover {
                filter: drop-shadow(0px 0px 10px #fff);
            }
        }

        #resetar-config {
            position: absolute;
            bottom: 0;
            left: 10px;
            font-size: 20px;
        }
    }
}

#moeda-3d-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    opacity: 0.025;
    z-index: 1;
    cursor: grab;
    display: none;
}

#extra-desbloqueado {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
    backdrop-filter: blur(10px);
    z-index: 10000;
    opacity: 0;
    transition-duration: .125s;
    display: none;

    & #confete {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
    }

    & #fechar-extra-desbloqueado {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 80px;
        color: #fff;
        transition-duration: .5s;
        z-index: 10;

        &.efeito-hover:hover {
            transform: scale(1.05);
        }
    }

    & #modelo-div {
        position: relative;
        width: 100px;
        text-align: center;
        transform: scale(1.25);

        & h2 {
            position: absolute;
            bottom: 140%;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            color: #fff;
        }

        & #btn-modelo {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 120px;
            border: 3px solid #fff;
            border-radius: 15px;
            transition: transform .5s;
            overflow: hidden;

            & img {
                width: 100%;
                transition-duration: .5s;
            }

            &+p {
                position: absolute;
                left: 50%;
                margin-top: 10px;
                transform: translateX(-50%);
                width: 100vw;
                color: #fff;
            }
        }
    }

    &.dourado {
        & #modelo-div {
            & h2 {
                color: #ff0;
            }

            & #btn-modelo {
                border: 3px solid #ff0;

                &+p {
                    color: #ff0;
                }
            }
        }
    }
}

#botao-dourado {
    background-color: #aa0;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #aa08;
    transition-duration: .5s;
    display: none;

    &.efeito-hover:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 5px 5px #aa08;
    }

    &.desativado {
        filter: grayscale(100%);
        pointer-events: none;
    }
}



#conteudo {
    width: 100vw;
    height: 100vh;
    display: none;
}

#tela-carregamento-site {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(rgb(10, 10, 10), #000);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 9999;
}

#tela-carregamento {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(rgb(10, 10, 10), #000);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 45;
    display: none;

    & #voltar-carregamento {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #ddd;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        z-index: 1;
        transition-duration: .5s;
        opacity: 0;
        pointer-events: none;

        &.naocelular p.efeito-hover:hover {
            text-decoration: underline;
        }
    }

    & #aviso-progresso {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        color: #ddd;
        font-size: 14px;
        text-align: center;
    }

    & #div-center {
        & #dica-p {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-family: 'titulo', Arial, Helvetica, sans-serif;
            font-size: 14px;
            width: 50vw;
            margin-top: 20px;
            color: #ddd;
            text-align: center;
            opacity: 0;
            transition-duration: 1s;
        }
    }
}

.div-logo {
    position: relative;
    width: 150px;
    height: 150px;
    font-family: 'logo', sans-serif;
    animation: anima-logo 2s linear infinite;

    & img {
        width: 100%;
        height: 100%;
        animation: anima-freddy-logo 2s linear infinite;
    }

    & .p-fnaf-logo {
        position: absolute;
        top: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        color: #60ffaf;
        font-size: 30px;
        animation: anima-fnaf-logo 2s linear infinite;
    }

    & .p-3d-logo {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        color: #ebee2a;
        font-size: 50px;
        animation: anima-3d-logo 2s linear infinite;
    }
}

progress {
    margin-top: 20px;
    height: 10px;
    border: 2px solid #ddd;
    background-color: #000;
    border-radius: 1000px;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background-color: #000;
    border-radius: 1000px;
}

progress::-webkit-progress-value {
    background-color: #ddd;
    border-radius: 1000px 0 0 1000px;
}

@keyframes anima-logo {

    0%,
    100% {
        filter: brightness(0.5);
        transform: scale(1);
    }

    50% {
        filter: brightness(1);
        transform: scale(1.025);
    }
}

@keyframes anima-freddy-logo {

    0%,
    100% {
        filter: invert(1) drop-shadow(0px 0px 0px #0000);
    }

    50% {
        filter: invert(1) drop-shadow(0px 0px 5px #fff);
    }
}

@keyframes anima-fnaf-logo {

    0%,
    100% {
        text-shadow: none;
    }

    50% {
        text-shadow:
            0px 0px 5px #4db380,
            0px 0px 7.5px #4db380,
            0px 0px 10px #46a174,
            0px 0px 12.5px #41996d,
            0px 0px 15px #37815c;
    }
}

@keyframes anima-3d-logo {

    0%,
    100% {
        text-shadow: none;
    }

    50% {
        text-shadow:
            0px 0px 5px #ced124,
            0px 0px 7.5px #b8bb20,
            0px 0px 10px #b3b61e,
            0px 0px 12.5px #a3a51d,
            0px 0px 15px #7f8116;
    }
}













model-viewer {
    width: 100vw;
    height: 100vh;
}















#nome-modelo {
    position: absolute;
    top: 10px;
    left: 65px;
    width: calc(100vw - 2* 65px);
    font-size: 30px;
    z-index: 10;
    color: #fff;
    text-align: center;
    pointer-events: none;
}

#btn-menu-home {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btn-menu,
#btn-home {
    position: static !important;
}

#btn-home {
    transition-duration: 0.5s;
    z-index: 101;
    display: none;
    opacity: 0;

    & span {
        transition-duration: .5s;
    }

    &.efeito-hover:hover span {
        transform: scale(1.15);
    }
}

#btn-menu,
#btn-home,
#div-menu,
#ar-btn,
#tutorial-descricao-btn,
#tutorial-descricao-div {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 15px;

    display: none;
}

#btn-menu {
    z-index: 100;
    transition-duration: .5s;

    &.efeito-hover:hover {
        transform: scale(1.15);
    }
}

#pesquisa-nao-visto-div {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    z-index: 101;
    transition-duration: .5s;
    pointer-events: none;
    display: none;
    opacity: 0;
    
    &.nao-clique {
        pointer-events: none !important;
    }

    & #pesquisa-div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        & #pesquisa-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
            backdrop-filter: blur(10px);
            width: 50px;
            height: 50px;
            color: #fff;
            border: 3px solid #333;
            border-radius: 15px;
            transition-duration: .5s;

            & span {
                transition-duration: .5s;
            }

            &.efeito-hover:hover span {
                transform: scale(1.1);
            }
        }

        & #pesquisa-input {
            position: absolute;
            top: 0;
            right: 0;
            appearance: none;
            outline: none;
            border: none;
            background-color: transparent;
            background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
            backdrop-filter: blur(10px);
            width: 0;
            max-width: calc(100vw - 75px);
            height: 50px;
            padding: 0 15px 0 30px;
            color: #fff;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 20px;
            transition-duration: 1s;
        }
    }

    & #ainda-nao-visto-div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 15px;
        border-radius: 15px;
        background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
        backdrop-filter: blur(10px);
        border: 3px solid #333;
        transition-duration: .5s;

        &>p {
            text-align: center;
            font-size: 12px;
            color: #fff;
        }
    }

    & #my-user-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
        backdrop-filter: blur(10px);
        width: 50px;
        height: 50px;
        border: 3px solid #333;
        border-radius: 1000px;
        transition-duration: .5s;
        overflow: hidden;

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &.efeito-hover:hover {
            transform: scale(1.05);
        }
    }
}

.checkbox-input {
    position: relative;
    width: calc(32px * 1.25);
    height: calc(16px * 1.25);
    background-color: #555;
    border-radius: 1000px;
    appearance: none;
    outline: none;
    transition-duration: .5s;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(16px * 1.25);
        height: calc(16px * 1.25);
        background-color: #777;
        box-shadow: 0px 0px 10px 0px #000;
        border-radius: 50%;
        transform: scale(0.8);
        transition-duration: .5s;
    }

    &.active {
        background-color: #ddd;

        &::before {
            background-color: #fff;
            left: calc(100% - 16px * 1.25);
        }
    }
}

#menu-jogos {
    position: absolute;
    bottom: 10px;
    left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 101;
    opacity: 0;
    transition-duration: .5s;

    pointer-events: none;
    display: none;


    & #img-jogos {
        padding: 0px 5px;
        border-radius: 15px 15px 0 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
        backdrop-filter: blur(10px);
        border: 0px solid #333;

        height: 0;
        width: initial;
        overflow: hidden;
        transition-duration: .5s;

        & img {
            width: 35px;
            border-radius: 10px;
            transition-duration: .5s;

            &.efeito-hover:hover {
                transform: scale(1.1);
            }
        }
    }

    & #jogos-btn {
        border-radius: 15px;
        width: 50.5px;
        height: 50px;
        background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
        backdrop-filter: blur(10px);
        color: #fff;
        border: 3px solid #333;

        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: .5s;

        & span {
            transition-duration: .5s;
        }

        &.efeito-hover:hover span {
            transform: scale(1.1);
        }

        &.active {
            border-radius: 0 0 15px 15px;
            border-top: none;
        }
    }

    &.celular {
        flex-direction: row-reverse;

        & #img-jogos {
            padding: 5px 0px;
            width: 0;
            height: initial;
            flex-direction: row;
            border-radius: 0 15px 15px 0;
        }

        & #jogos-btn {
            width: 50px;
            height: 50.5px;

            &.active {
                border-radius: 15px 0 0 15px;
                border: 3px solid #333;
                border-right: none;
            }
        }
    }
}

#ir-topo-div {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
    backdrop-filter: blur(10px);
    width: 50px;
    height: 50px;
    border: 3px solid #333;
    border-radius: 15px;
    transition-duration: .5s;
    z-index: 101;
    display: none;
    opacity: 0;
    pointer-events: none;

    & span {
        color: #fff;
    }

    &.efeito-hover:hover {
        transform: scale(1.05);
    }
}





#div-menu {
    background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
    backdrop-filter: blur(10px);
    border: 3px solid #333;
    transition-duration: 1s;
    z-index: 50;

    &.active {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        border-radius: 0;
        border: 0px solid #0000;

        &>#menu-content {
            padding: 20px 50px 50px 75px;
        }
    }

    &>#menu-content {
        position: absolute;
        width: 100%;
        height: 100%;
        color: #fff;
        padding: 0 10px;
        padding-bottom: 100px;
        border-radius: 5px;
        overflow-y: scroll;
        scroll-behavior: smooth !important;
        opacity: 0;
        transition-duration: .5s;
        display: none;

        & #fnaf-info-img-div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 90%;
            display: none;

            &.celular {
                height: 110%;

                & #fnaf-info-div {
                    height: 110% !important;
                }

                & .steam-div,
                #fnaf-filme,
                #jogar-fnaf {
                    margin-top: 0px;
                    transform: scale(0.75);
                }
            }

            & #fnaf-img-div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc(100% / 3);
                height: 100%;

                & #fnaf-img {
                    width: 100%;
                    border-radius: 30px;
                }
            }

            & #fnaf-info-div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                width: calc(2 * (100% / 3));
                height: 100%;

                & h2 {
                    margin-bottom: 20px;
                    text-align: center;
                }

                & #fnaf-info {
                    max-height: 100%;
                    width: 100%;
                    padding: 0 10px;
                    padding-left: 30px;
                    overflow-y: scroll;

                    & #texto-fnaf-info {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        & p {
                            text-align: justify;
                            margin-bottom: 30px;
                        }

                        & h3 {
                            text-align: center;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        & #modelos {
            width: 100%;
            min-height: calc(90vh + 10px);

            &.celular {
                min-height: 77.5vh;
            }


            & h3,
            h4,
            #nenhum-resul {
                margin: 25px 0 10px 0;
                display: none;
            }

            & .modelos-container {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                gap: 0 25px;
            }

            & .modelos-div {
                width: 100px;
                transition-duration: .5s;
                opacity: 0;
                pointer-events: none;

                &.visivel {
                    opacity: 1;
                    transform: translateY(0);
                    pointer-events: all;
                }

                &.acima {
                    transform: translateY(-50px);
                }

                &.abaixo {
                    transform: translateY(50px);
                }

                & .btn-modelos {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 120px;
                    border: 3px solid #0000;
                    border-radius: 15px;
                    transition: transform .5s;
                    overflow: hidden;

                    & img {
                        width: 100%;
                        transition-duration: .5s;
                    }

                    &+p {
                        color: #aaa;
                    }

                    &.pra-encontrar-dourado+p {
                        color: #aa0;
                    }

                    &.efeito-hover:hover {
                        border: 3px solid #aaa;
                        transform: scale(1.05);
                        box-shadow: 0px 0px 10px 0px #aaa,
                            inset 0px 0px 10px 0px #aaa;
                    }

                    &.pra-encontrar-dourado.efeito-hover:hover {
                        border: 3px solid #aa0;
                        transform: scale(1.05);
                        box-shadow: 0px 0px 10px 0px #aa0,
                            inset 0px 0px 10px 0px #aa0;
                    }

                    &.efeito-hover:hover img {
                        transform: scale(1.1);
                    }

                    &.efeito-hover:hover+p {
                        text-shadow: 0px 0px 10px #aaa,
                            0px 0px 10px #aaa;
                    }

                    &.pra-encontrar-dourado.efeito-hover:hover+p {
                        text-shadow: 0px 0px 10px #aa0,
                            0px 0px 10px #aa0;
                    }

                    &.active {
                        border: 3px solid #fff;
                        cursor: no-drop !important;
                    }

                    &.pra-encontrar-dourado.active {
                        border: 3px solid #ff0;
                    }

                    &.bloqueado {
                        border: none !important;
                        cursor: no-drop !important;

                        &~.valor-div,
                        .bloqueio-pra-comprar {
                            display: flex;
                        }

                        .bloqueio-pra-encontrar {
                            display: flex;
                        }

                        .bloqueio-pra-encontrar-dourado {
                            display: flex;
                        }
                    }

                    &.active.efeito-hover:hover,
                    &.active.efeito-hover:hover img,
                    &.active.efeito-hover:hover+p,
                    &.bloqueado.efeito-hover:hover,
                    &.bloqueado.efeito-hover:hover img,
                    &.bloqueado.efeito-hover:hover+p {
                        transform: none;
                        box-shadow: none;
                        text-shadow: none;
                    }

                    &.active+p {
                        color: #fff;
                    }

                    &.pra-encontrar-dourado.active+p {
                        color: #ff0;
                    }



                    & .bloqueio-pra-comprar,
                    .bloqueio-pra-encontrar,
                    .bloqueio-pra-encontrar-dourado {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        background-color: #0008;
                        border: 3px solid #aaa;
                        border-radius: 15px;
                        cursor: no-drop !important;
                        display: none;

                        & span {
                            color: #aaa;
                            font-size: 50px;
                        }
                    }

                    & .bloqueio-pra-encontrar-dourado {
                        background-color: rgba(102, 95, 0, 0.533);
                        border: 3px solid #aa0;

                        & span {
                            color: #aa0;
                        }
                    }

                    &~.valor-div {
                        margin-top: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        display: none;

                        & p {
                            color: #aaa;
                        }

                        & img {
                            width: 25px;
                            filter: brightness(0.75);
                        }
                    }

                }

                &>p {
                    font-size: 14px;
                    margin-top: 5px;
                    text-align: center;
                    transition-duration: .5s;

                    &>mark {
                        background-color: #fff;
                        color: #000;
                    }
                }

            }
        }
    }
}

#btn-menu span,
#btn-home span {
    color: #fff;
}


.div-video {
    position: relative;
    width: 90%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    & video {
        width: 100%;
        border-radius: 20px;
        box-shadow: 2.5px 2.5px 10px 0px #0008;
    }

    & .play-pause {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        align-items: center;
        justify-content: center;

        width: 75px;
        height: 75px;
        background-color: #fff;
        border-radius: 10000px;
        opacity: 0.75;
        pointer-events: none;
        display: none;

        & span {
            font-size: 40px;
            color: #000;
        }
    }
}










#ar-btn {
    left: auto;
    right: 65px;
    background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
    backdrop-filter: blur(10px);
    border: 3px solid #333;
    opacity: .5;
    pointer-events: none;
    display: none;
}

#carregamento-ar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
    backdrop-filter: blur(10px);
    z-index: 1001;
    display: none;

    &>div {
        width: 200px !important;
        height: 200px !important;
        border-radius: 50%;
        background: none !important;
        display: flex !important;
    }
}

#fechar-ar {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 80px;
    color: #fff;
    z-index: 1005;
    display: none;
}

#tela-ar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100dvh;
    background-color: #000;
    background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
    color: #fff;
    z-index: 1000;
    overflow-y: scroll;
    display: none;

    a {
        color: #fff !important;
        text-decoration: underline;
    }

    & h2 {
        margin-top: 25px;
    }

    & h5 {
        margin: 10px 0;
        text-align: center;
    }

    & ol {
        padding: 0 10px 0 30px !important;

        & li {
            text-align: justify;
            margin: 10px 0;
        }
    }

    & video {
        aspect-ratio: 9 / 16;
        width: 75%;
        border-radius: 20px;
    }

    & #ir-ar-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 50px 0;
        background-color: #fff;
        color: #000;
        padding: 10px 20px;
        border-radius: 10px;

        & span {
            font-size: 30px;
        }
    }

    &::-webkit-scrollbar-track {
        background-image: none !important;
    }
}

#tutorial-botoes-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px) brightness(0.5);
    z-index: 2005;
    display: none;

    & #tutorial-botoes-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;

        & p {
            padding: 20px;
            border-radius: 20px;
            max-width: 75%;
        }
    }
}



#tutorial-descricao-btn,
#tutorial-descricao-div {
    /* Demais configurações junto com as do menu */
    left: initial;
    right: 5px;
}

#tutorial-descricao-btn,
#ar-btn {
    z-index: 35;

    & span {
        color: #fff;
        transition-duration: .5s;
    }

    &.efeito-hover:hover span {
        transform: scale(1.1)
    }

}


#tutorial-descricao-div {
    background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
    backdrop-filter: blur(10px);
    border: 3px solid #333;
    transition-duration: 1s;
    z-index: 25;

    &.active {
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        border-radius: 0;
        border: 0px solid #0000;
    }

    &>#tutorial-descricao-content {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        width: 90%;
        height: 70%;
        color: #fff;
        opacity: 0;
        transition-duration: .5s;
        display: none;

        & h2 {
            margin-bottom: 30px;
            text-align: center;
        }

        & #descricao-div-wrapper {
            width: 50%;
            height: 100%;
            border-radius: 0px;
            box-shadow: inset 0px 0px 0px 0px #0000, 0px 0px 0px 0px #0000;
            transform: scale(1);
            transition-duration: .25s;
            overflow: hidden;

            &.efeito-hover:hover {
                box-shadow: inset 0px 0px 0px 0px #0000,
                    0px 0px 20px 0px #0008 !important;
                transform: scale(1.0175) !important;
                border-radius: 30px !important;
            }

            & #descricao-div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
                padding: 20px;

                & #modelo-info-container {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 30px;
                    width: 100%;
                    margin-bottom: 30px;

                    & #modelo-info-img-div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 150px;
                        height: 180px;
                        background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
                        backdrop-filter: blur(10px);
                        border-radius: 15px;
                        overflow: hidden;

                        & img {
                            width: 100%;
                        }
                    }

                    & #modelo-info-div {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        width: calc(100% - 150px);

                        & h2 {
                            margin-bottom: 10px;
                        }

                        & p {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 10px;
                            margin: 5px 0;
                            font-size: 16px;

                            & .info-btns {
                                font-size: 36px !important;
                                transition: transform .5s;

                                &#favoritar-btn.material-symbols-outlined {
                                    color: #ff0;
                                }

                                &#likes-btn.material-symbols-outlined {
                                    color: #00f;
                                }

                                &#dislikes-btn.material-symbols-outlined {
                                    color: #f00;
                                }

                                &.efeito-hover:hover {
                                    transform: scale(1.2);
                                }
                            }
                        }
                    }
                }

                &>p {
                    text-align: justify;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

                & #imagem-cards {
                    width: 90%;
                    transition-duration: .5s;

                    &.efeito-hover:hover {
                        transform: scale(1.025);
                        filter: drop-shadow(0px 0px 10px #111) drop-shadow(0px 0px 10px #111);
                    }
                }

                & h3 {
                    margin: 20px 0;
                }

                & #h3-jumpscare {
                    display: none;
                }
            }
        }

        & #tutorial-div-wrapper {
            width: 50%;
            height: 100%;
            border-radius: 0px;
            box-shadow: inset 0px 0px 0px 0px #0000, 0px 0px 0px 0px #0000;
            transform: scale(1);
            transition-duration: .25s;
            overflow: hidden;

            &.efeito-hover:hover {
                box-shadow: inset 0px 0px 0px 0px #0000,
                    0px 0px 20px 0px #0008 !important;
                transform: scale(1.0175) !important;
                border-radius: 30px !important;
            }

            & #tutorial-div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                text-align: center;
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
                padding: 20px;

                & h3:first-of-type {
                    margin-top: 0;
                }

                & h3 {
                    margin-top: 30px;
                }

                .tutorial-cel {
                    display: none;
                }

                & p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;
                    margin: 5px 0;

                    & span.material-symbols-rounded,
                    span span.material-symbols-rounded {
                        font-size: 20px;
                    }
                }

                & label {
                    font-size: 14px;
                    margin: 5px 0;
                }

                & .checkbox-input-div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                }

                & .range-inputs-div {
                    /* Outras configurações junto com os demais range */
                    display: flex;
                    margin: 0;

                    & span {
                        font-size: 14px;
                    }
                }
            }
        }


        &.celular h2 {
            margin-bottom: 10px !important;
        }

        &.celular h3 {
            margin-top: 10px !important;
        }

        &.celular p {
            margin: 0px !important;
        }

        &.celular #tutorial-div {
            padding-bottom: 50px;
            gap: 15px;

            & p {
                flex-direction: column;
                gap: 0;
            }
        }

        &.celular #descricao-div {
            padding: 0 10px 50px 10px;
        }

        &.celular .tutorial-cel {
            display: flex !important;
        }

        &.celular .tutorial-comp {
            display: none !important;
        }
    }
}

#swiper-div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
    backdrop-filter: blur(10px);
    z-index: 2000;
    opacity: 0;
    transition-duration: .125s;
    display: none;

    #problemas-swiper-div {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        color: #fff;

        &.naocelular p.efeito-hover:hover {
            text-decoration: underline;
        }

        & span {
            display: none;
        }
    }

    & #fechar-swiper-div-btn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 80px;
        color: #fff;
        transition-duration: .5s;

        &.efeito-hover:hover {
            transform: scale(1.05);
        }
    }

    & .swiper {
        width: 75%;
    }
}

.swiper-pagination,
.swiper-button-prev,
.swiper-button-next,
.swiper-button-disabled {
    z-index: 20 !important;
    opacity: 0;
    transition-duration: .5s;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff !important;
    transition-duration: .5s;

    &.efeito-hover:hover {
        transform: scale(1.1);
        filter: drop-shadow(0px 0px 10px #fff);
    }
}

.swiper-pagination-bullet {
    background-color: #fff;
    transition-duration: .5s;
    margin: 0 5px;
    opacity: .5;

    &.efeito-hover:hover {
        transform: scale(1.5);
        box-shadow: 0px 0px 10px 0px #fff;
    }
}

.swiper-pagination-bullet-active {
    background-color: #fff;
    transform: scale(1.5);
    opacity: 1;
}


.swiper-slide,
#img-alternativa-div {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16/9;
    background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 5px solid #111;
    box-shadow: 0px 0px 0px 0px #1110,
        inset 0px 0px 0px 0px #1110;
    transition: box-shadow .5s;
    width: auto;
    height: auto;


    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        transition-duration: .5s;
    }
}

.swiper-descricao,
#descricao-alternativa {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    background-color: #111;
    padding: 15px;
    color: #fff;
    box-shadow: 0px 0px 0px 0px #1110,
        0px 0px 0px 0px #1110;
    border-bottom-right-radius: 30px;
    opacity: 0;
    transition-duration: .5s;
}





#img-alternativa-div {
    overflow: hidden;
    width: 75%;
    display: none;

    &.naocelular.efeito-hover:hover,
    &.active {
        box-shadow: 0px 0px 10px 0px #111, inset 0px 0px 10px 0px #111, 0px 0px 20px 0px #111, inset 0px 0px 20px 0px #111;

        & #descricao-alternativa {
            opacity: 1;
            box-shadow: 0px 0px 10px 0px #111, 0px 0px 10px 0px #111;
        }

        & img {
            transform: scale(1.025);
        }
    }
}

#seta-voltar,
#seta-avancar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 50px;
    transition-duration: .5s;
    display: none;

    &.efeito-hover:hover {
        transform: translateY(-50%) scale(1.1);
        filter: drop-shadow(0px 0px 10px #fff);
    }

    &.desativada {
        opacity: 0.35;
        pointer-events: none;
    }
}

#seta-voltar {
    left: 15px;
}

#seta-avancar {
    right: 15px;
}





































#animacoes-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100vw - 150px);
    transition-duration: .5s;
    z-index: 10;
    display: none;
    pointer-events: none;

    & h3 {
        position: absolute;
        bottom: 100%;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
        backdrop-filter: blur(10px);
        border: 3px solid #333;
        border-bottom: 0px solid #333;
        color: #fff;
        padding: 5px;
        border-top-right-radius: 10px;
        transition-duration: .25s;

        & #h3-seta-animacoes {
            font-size: 30px;
            transition-duration: .25s;
            transform: rotate(0deg);
        }
    }

    & #animacoes-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px 25px;
        width: 100%;
        max-height: 65vh;
        background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
        backdrop-filter: blur(10px);
        border: 3px solid #333;
        padding: 15px;
        padding-bottom: 5px;
        border-top-right-radius: 10px;
        overflow-y: scroll;

        & #sem-animacoes {
            color: #fff;
        }

        & .animacoes-btn {
            font-size: 14px;
            min-width: 200px;
            padding: 5px;
            color: #aaa;
            text-align: center;
            border: 2.5px solid #0000;
            border-radius: 100px;
            transition: transform .5s;

            &.efeito-hover:hover {
                transform: scale(1.05);
                border: 2.5px solid #aaa;
                box-shadow: 0px 0px 10px 0px #aaa,
                    inset 0px 0px 10px 0px #aaa;
                text-shadow: 0px 0px 10px #aaa,
                    0px 0px 10px #aaa;
            }

            &.active {
                border: 2.5px solid #fff;
                color: #fff;
                cursor: no-drop !important;
            }

            &.active.efeito-hover:hover {
                transform: none;
                box-shadow: none;
                text-shadow: none;
            }
        }
    }
}























#audios-container {
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(-25%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 350px;
    transition-duration: .5s;
    z-index: 10;
    display: none;
    pointer-events: none;

    & h3 {
        position: absolute;
        top: 0;
        left: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
        backdrop-filter: blur(10px);
        border: 3px solid #333;
        border-left: 0px solid #333;
        color: #fff;
        padding: 15px 5px;
        border-radius: 0 10px 10px 0;
        line-height: 20px;
        transition-duration: .25s;

        & #h3-seta-audios {
            font-size: 30px;
            transition-duration: .25s;
            transform: rotate(0deg);
        }
    }

    &.celular {
        height: 100vh;
        top: 25%;
    }

    &.celular h3 {
        top: 50%;
        transform: translateY(-50%);
        line-height: 15px;
    }

    &.celular #audios-div {
        border-bottom-right-radius: 0px !important;
        padding-top: 75px !important;
    }

    & #audios-div {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px 25px;
        height: 100%;
        min-width: 275px;
        background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
        backdrop-filter: blur(10px);
        border: 3px solid #333;
        padding: 15px;
        padding-right: 50px;
        border-bottom-right-radius: 10px;
        overflow-y: scroll;

        & #sem-audios {
            color: #fff;
        }

        & .audios-btn-p-range {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: none;

            & .audios-btn-p {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                width: 100%;
                transition: transform .5s;


                & .audios-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    color: #aaa;
                    border-radius: 10px;
                    transition: transform .5s;
                }

                & p {
                    color: #aaa;
                }

                &.efeito-hover:hover {
                    transform: scale(1.05);

                    & .audios-btn {
                        border: 2.5px solid #aaa;
                        box-shadow: 0px 0px 10px 0px #aaa,
                            inset 0px 0px 10px 0px #aaa;
                    }

                    & p {
                        text-shadow: 0px 0px 10px #aaa,
                            0px 0px 10px #aaa;
                    }
                }

                &.active {
                    & .audios-btn {
                        border: 2.5px solid #fff;
                        color: #fff;
                    }

                    & p {
                        color: #fff;
                    }

                    &~.audios-range-div {
                        display: flex !important;
                    }

                    &.efeito-hover:hover {
                        transform: none;

                        & .audios-btn {
                            transform: scale(1.1);
                        }

                        & p {
                            text-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

#icone-animacoes {
    color: #fff;
    transition-duration: .5s;

    &.efeito-hover:hover {
        filter: drop-shadow(0px 0px 5px #fff);
        transform: scale(1.25);
    }
}




#ucn-info-img-div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
    backdrop-filter: blur(10px);
    z-index: 2000;
    padding: 100px;
    color: #fff;
    opacity: 0;
    transition-duration: .125s;
    display: none;

    &.celular {
        padding: 10px;
        align-items: flex-end;

        & h2 {
            margin-bottom: 0 !important;
        }

        & #fechar-ucn-info-btn {
            font-size: 50px !important;
        }
    }

    & #fechar-ucn-info-btn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 80px;
        color: #fff;
        transition-duration: .5s;
        z-index: 10;

        &.efeito-hover:hover {
            transform: scale(1.05);
        }
    }

    & #ucn-img-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% / 3);
        height: 100%;

        & #ucn-img {
            width: 100%;
            border-radius: 30px;
        }
    }

    & #ucn-info-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: calc(2 * (100% / 3));
        height: 90%;

        & h2 {
            margin-bottom: 20px;
            text-align: center;
        }

        & #ucn-info {
            max-height: 100%;
            width: 100%;
            padding: 0 30px;
            overflow-y: scroll;

            & p {
                text-align: justify;
                margin-bottom: 30px;

                &:last-of-type {
                    margin-bottom: 0px;
                }
            }

            & h4 {
                text-align: center;
                margin-bottom: 10px;
            }
        }

        &>p {
            display: none;
            color: #aaa;
            margin-top: 10px;
        }

    }

    & #confete {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
    }
}

#jogar-fnaf {
    padding: 15px 75px;
    color: #fff;
    border: 2px solid #fff;
    margin-top: 20px;
    border-radius: 10px;
    transition-duration: .5s;

    &.efeito-hover:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 10px 0px #fff,
            inset 0px 0px 10px 0px #fff;
        text-shadow: 0px 0px 10px #fff;
    }
}

.download-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: green;
    border-radius: 10px;
    color: #fff !important;
    text-decoration: none;
    transition-duration: .5s;
    display: none;

    &.efeito-hover:hover {
        transform: scale(1.05);
        background-color: rgb(0, 204, 0);
    }
}

.steam-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 10px 40px;
    background-image: linear-gradient(to bottom, #0A1B41, #1385B6);
    border-radius: 10px;
    color: #fff !important;
    text-decoration: none;
    transition-duration: .5s;
    display: none;

    & img {
        height: 50px;
    }

    &.efeito-hover:hover {
        transform: scale(1.05);
        filter: brightness(1.25);
    }
}

#fnaf-filme {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #212934;
    border-radius: 10px;
    color: #fff !important;
    text-decoration: none;
    transition-duration: .5s;
    display: none;

    & img {
        width: 100px;
    }

    &.efeito-hover:hover {
        transform: scale(1.05);
        filter: brightness(1.5);
    }
}

#download-p {
    color: #aaa;
    margin-top: 10px;
}




.audios-range-div,
#animacoes-range-div,
.range-inputs-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 25px;
    margin: 10px 0 20px 0;
    display: none;
}

#animacoes-range-div {
    margin: 0;
    position: sticky;
    bottom: 0;
    background-image: radial-gradient(var(--cor-interna), var(--cor-externa));
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 5px 0px #0008;
}

.audios-range,
#animacoes-range,
.range-inputs,
#input-altura {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    width: 100px;
}

#animacoes-range {
    width: 100%;
}

.audios-range:focus,
#animacoes-range:focus,
.range-inputs:focus,
#input-altura:focus {
    border: none;
    outline: none;
}

.audios-range::-webkit-slider-runnable-track,
#animacoes-range::-webkit-slider-runnable-track,
.range-inputs::-webkit-slider-runnable-track,
#input-altura::-webkit-slider-runnable-track {
    height: 5px;
    background-color: #fff;
    border: none;
    border-radius: 100px;
}

.audios-range::-webkit-slider-thumb,
#animacoes-range::-webkit-slider-thumb,
.range-inputs::-webkit-slider-thumb,
#input-altura::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    /* Cálculo: (heigh-track - height-thumb) / 2 */
    margin-top: -5px;
    /* ---------- */
}

.tempo-atual,
.tempo-total,
#tempo-atual-animacoes,
#tempo-total-animacoes {
    font-size: 12px;
    color: #fff;
}



a {
    color: #00f !important;
}

#logomwd {
    width: 125px;
    margin: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition-duration: 0.5s;
    padding: 10px;
    border-radius: 20px;
    display: none;
    opacity: 0;
    z-index: 1;

    &.efeito-hover:hover {
        transform: scale(1.1);
        background-color: white;
    }

    &.celular {
        margin: 0;
    }
}







@media screen and (max-width: 1200px) {
    img[src="assets/images/extras/fnaf-filme.avif"] {
        height: 90% !important;
    }
}

@media screen and (max-width: 1100px) {
    img[src="assets/images/extras/fnaf-filme.avif"] {
        height: 80% !important;
    }
}

@media screen and (max-width: 1000px) {
    img[src="assets/images/extras/fnaf-filme.avif"] {
        height: 70% !important;
    }
}